.tweet {
  background-color: #c0e6ff;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
}

.tweet p {
  font-size: 14px;
}

.tweet-info {
  margin-top: 0;
}

.tweet-name {
  font-weight: bold;
}

.tweet-username {
  margin: 0 5px;
}

.tweet-time {
  font-size: 10px;
}

.tweet-post {
  margin: 0;
}
